<a href="https://colab.research.google.com/github/youjinup/Youjin01/blob/main/0_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EB%B3%B8_%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AAA
주 언어: C(알고리즘), JAVA(책)

서브 언어: Python

[colab]사용

- 데이터 크롤링은 필요함

- 데이터 시작화
데이터 분석결과를 쉽게 전달하기 위해
시각적 수단(그래프, 차트)을 이용하는것

# 01 파이썬 기초 문법

## 01-1 변수

### 변수는 값을 담는 그릇

*   의미있게 변수명 짓기
*   숫자로 시작하면 안됨
*   _ 언더스코어를 제외한 특수기호는 안됨
*   중간에 공백이 있으면 안됨
*   keyword를 제외한 영문,한글 가능

In [ ]:
name = '박유진'

print(name)

박유진

In [ ]:
age = 24

print(age)

24

In [ ]:
point =23.887
print(point)

23.887

## 01-2 사칙연산 (+,-,*,/,%)

In [ ]:
# 숫자의 덧셈

num1 = 10
num2 = 20
result = num1+ num2
print(result)

30

## 01-3 문자열

### 문자열 추출

In [ ]:
word = '안녕하세요. 반갑습니다'
print(word)

print(word[0])
print(word[0:6])   # 문자열 슬라이싱  0~6
print(word[7:])    # 문자열 슬라이싱  7~

print("")

print(word[-1])
print(word[0:-2])
print(word[0:8])

안녕하세요. 반갑습니다
안
안녕하세요.
반갑습니다

다
안녕하세요. 반갑습
안녕하세요. 반

### 문자열 연결 연산자 +

In [ ]:
str1 = '안녕'
str2 = '하세요'

str_result = str1 + str2
print(str_result)

안녕하세요

### 문자열 `str()` 형변환 함수

In [ ]:
str_result + str(result)

'안녕하세요30'

### 문자열 반복 연산자 *

In [ ]:
print(str1 * 10)
print('-' * 30)

안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕
------------------------------

### 문자열 길이 구하는 `len()` 함수

In [ ]:
len(word)

12

### 문자열 포맷팅

| 코드          | 의미                |
|----------------|---------------------|
| %s	        | s는 'string' 첫글자로 문자열 의미             |
| %d          | d는 'digit' 첫글자로 정수형 숫자 의미         |
| %f          | f는 'floating point' 첫글자로 실수형 숫자 의미 |
| %.1f          | 실수에서 소수점 첫째 자리(둘째 자리에서 반올림) 구함 |

형변환 하지 않고도 출력을 할수있다

중간에 값을 넣고싶을때 사용한다.

In [ ]:
animal = '강아지'
x = '나는 ' + animal + '를 좋아합니다.'
print(x)

나는 강아지를 좋아합니다.

In [ ]:
# 문자열 포맷팅

x = '나는 %s를 좋아합니다.' % animal
print(x)

나는 강아지를 좋아합니다.

In [ ]:
kor = 88
eng = 95
math = 100
total = kor + eng + math
avg = total / 3

print('합계 : %d, 평균 : %.2f'%(total , avg))

합계 : 283, 평균 : 94.33

### 키보드 입력 `input()`  함수

In [ ]:
person = input('이름을 입력하세요: ')

print('%s님 반갑습니다.' %person )

이름을 입력하세요: park
park 님 반갑습니다.

### 숫자 형변환 `int()`함수

In [ ]:
num1 = input('첫번째 정수를 입력하시오: ')
num2 = input('두번째 정수를 입력하시오: ')

print(int(num1) + int(num2))

첫번째 정수를 입력하시오: 55
두번째 정수를 입력하시오: 85
140

## 01-4 주석문

In [ ]:
# 간단한 설명을 위한 한줄 주석

'''
프로그램 설명이나 긴글 주석을 위한 장문 주석
2023-12-28 프로그램 설명
'''

'\n프로그램 설명이나 긴글 주석을 위한 장문 주석\n2023-12-28 프로그램 설명\n'

# 02 조건문

## 02-1 if문

| 구문          | 의미                |
|----------------|---------------------|
| if ~	           |만약 조건을 만족하면 ~ 작업 수행|
| if ~ else ~ |만약 조건을 만족하면 ~ 작업 수행하고, 그렇지 않으면 ~ 작업을 수행|
| if ~ elif ~ else    |만약 조건 1을 만족하면 작업 1 수행, 조건 2를 만족하면 작업 2 수행... 그렇지 않으면 else 작업 수행|

In [ ]:
x = int(input('정수를 입력하시오: '))

if x > 0:
  print('입력된 수는 양수입니다.')

  print('계속 if문 안에 있습니다.')

else:
  print('입력된 수는 음수 or 0 입니다.')

정수를 입력하시오: 0
입력된 수는 음수 or 0 입니다.

## 02-2 비교 연산자와 논리 연산자

| 연산자          | 종류                |
|----------------|---------------------|
| 비교 연산자 | >, <, ==, !=, <=, >=    |
| 논리 연산자 | and, or, not            |

### 비교 연산자

| 비교 연산자          | 의미       |
|----------------|---------------------|
| a == b | a와 b는 같다    |
| a != b | a와 b는 같지 않다    |
| a > b | a는 b보다 크다    |
| a >= b | a는 b보다 크거나 같다    |
| a < b | a는 b보다 작다   |
| a <= b | a는 b보다 작거나 같다    |

In [ ]:
a = 10
b = 20

a == b

False

In [ ]:
a != b

True

### 논리 연산자

| 논리 연산자          | 의미       |
|----------------|---------------------|
| 조건1 == 조건2 | 논리곱(and) 조건1과 조건2가 둘 다 참인 경우에만 참 |
| 조건1 or 조건2 | 논리합(or) 조건1 또는 조건2 중 하나만 참이어도 참   |
| not 조건 | 논리부정(not) 조건이 참이면 거짓, 거짓이면 참으로 논리 값을 반대로 변경 |

In [ ]:
score1 = 70
score2 = 80

score1 >= 80 and score2 >= 80

# 가장 가능성이 낮은 조건을 앞에다가 사용

False

In [ ]:
score1 >= 80 or score2 >= 80

True

In [ ]:
# 예시
# 매표소에서 나이를 확인하여, 65세 이상은 입장권을 무료로 처리하는 프로그램
# 3가지 경우(적을떄, 같을때 ,많을 떄)를 테스트 해봐야 한다.

age = int(input('나이를 입력하세요: '))

ticket = 2000

if age >= 65 :
  ticket = 0

print('나이 %d' % age)
print('입장료 %d원' % ticket)

나이를 입력하세요: 88
나이 88
입장료 0원

# 03 반복문

## 03-1 for문


### `range()` 함수를 사용한 범위만큼 반복하기

In [ ]:
range(10)

range(0, 10)

In [ ]:
for i in range(10):  # 0 ~ 9의 범위
  print(i , i+i)

0 0
1 2
2 4
3 6
4 8
5 10
6 12
7 14
8 16
9 18

In [ ]:
for i in range(1,11):  # 1 ~ 10
  print(i, end = ' ')  # end = ' ': 한칸 띄어서 한줄로 출력하기

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(1, 10 , 2):  # 1 ~ 10 , 2씩 증가 시키기

  print(i, end = ' ')  # end = ' ': 한칸 띄어서 한줄로 출력하기

1 3 5 7 9

In [ ]:
for i in range(20, 0, -2):  # 20 ~ 0 , -2씩 감소
  print(i, end = ' ')  # end = ' ': 한칸 띄어서 한줄로 출력하기

20 18 16 14 12 10 8 6 4 2

### 문자열 for문

In [ ]:
# 사용자에게 단어를 입력받고 한글자씩 출력

word = input('단어를 입력하시오: ')

for w in word:
  if w != '':
    print(w)

단어를 입력하시오: ㅁㄴㅇㄹ ㅁㄴㅇ
ㅁ
ㄴ
ㅇ
ㄹ

ㅁ
ㄴ
ㅇ

## 03-2 while문

In [ ]:
# while문으로 1~10까지의 합계를 구하라


total = 0
i = 1
while i <= 10:
  total = total +i
  print('i의 값: %d => 합계: %d' % (i, total))

  i = i+1  # <= 여기가 중요 (탈출코드) while 탈출문

i의 값: 1 => 합계: 1
i의 값: 2 => 합계: 3
i의 값: 3 => 합계: 6
i의 값: 4 => 합계: 10
i의 값: 5 => 합계: 15
i의 값: 6 => 합계: 21
i의 값: 7 => 합계: 28
i의 값: 8 => 합계: 36
i의 값: 9 => 합계: 45
i의 값: 10 => 합계: 55

### break문 반복문 탈출하기

In [ ]:
# 단어를 출력하고, stop라는 단어 입력 시 프로그램 종료

while True:
  word = input('단어를 입력하시오: ')


  if word == 'stop':
    print('프로그램을 종료합니다...')
    break

  print(word)

단어를 입력하시오: asf
asf
단어를 입력하시오: asfasd
asfasd
단어를 입력하시오: adwcd
adwcd
단어를 입력하시오: feadc
feadc
단어를 입력하시오: stop
프로그램을 종료합니다...

# 04  자료 구조

## 04-1 리스트



> 여러 개의 데이터를 하나의 변수로 담을 수 있는 자료 구조

### 리스트 생성

In [ ]:
list1 = [1,35,'사과','딸기']  # [] 사용하여 리스트 생성

print(list1)

[1, 35, '사과', '딸기']

In [ ]:
list2 = list(range(1,10)) # list() 함수를 이용하여 리스트 생성
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 요소 추출

In [ ]:
colors  = ['빨강', '주황','노랑','초록','파랑','남색','보라']

print(colors)

['빨강', '주황', '노랑', '초록', '파랑', '남색', '보라']

In [ ]:
print(colors[0])

빨강

In [ ]:
print(colors[1])

주황

In [ ]:
print(colors[2:5])

['노랑', '초록', '파랑']

In [ ]:
print(colors[6])

print(colors[-1])  # 맨뒤에 출력

보라
보라

### 요소 수정

In [ ]:
colors[1] = '회색'

print(colors)

['빨강', '회색', '노랑', '초록', '파랑', '남색', '보라']

### 요소 추가 `append()` 메서드

* 함수: 자체적으로 실행되는 친구들


* 메서드

   1.객체가 있어야 한다
   
   2.독립적으로 실행 안된다.

In [ ]:
colors.append('금색')  # value
print(colors)

['빨강', '회색', '노랑', '초록', '파랑', '남색', '보라', '금색']

### 요소 삽입 `insert()` 메서드

In [ ]:
colors.insert(0, '은색')  # index , value
print(colors)

['은색', '빨강', '회색', '노랑', '초록', '파랑', '남색', '보라', '금색']

### 요소 삭제 `remove()` 메서드

In [ ]:
colors.remove('은색')   # value
print(colors)

['빨강', '회색', '노랑', '초록', '파랑', '남색', '보라', '금색']

### 요소 잘라내기 `pop()` 메서드

In [ ]:
color = colors.pop(1) # index
print(color)
print(colors)

회색
['빨강', '노랑', '초록', '파랑', '남색', '보라', '금색']

### for문에서 리스트 사용

In [ ]:
for color in colors:
  print('나는 %s 색을 좋아합니다.' %color)

나는 빨강색을 좋아합니다.
나는 노랑색을 좋아합니다.
나는 초록색을 좋아합니다.
나는 파랑색을 좋아합니다.
나는 남색색을 좋아합니다.
나는 보라색을 좋아합니다.
나는 금색색을 좋아합니다.

### 리스트 병합 `+`

In [ ]:
merge_list = list1 + list2
print(merge_list)

[1, 35, '사과', '딸기', 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 리스트 순서(index) 반대로 `reverse()` 메서드

In [ ]:
data = [10,20,30,40,50]
print(data)
data.reverse()

print(data)
data.reverse()

print(data)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]
[10, 20, 30, 40, 50]

### 리스트 정렬 `sort()` 메서드

In [ ]:
print('기본',colors)

colors.sort() # 오름차순 정렬 ㄱ~ㅎ
print('오름차순 정렬: ',colors)

기본 ['파랑', '초록', '빨강', '보라', '노랑', '남색', '금색']
오름차순 정렬:  ['금색', '남색', '노랑', '보라', '빨강', '초록', '파랑']

In [ ]:
colors.sort(reverse = True) # 내림차순 정렬 ㄱ~ㅎ
print('내림차순 정렬: ',colors)

내림차순 정렬:  ['파랑', '초록', '빨강', '보라', '노랑', '남색', '금색']

### 문자열 찾기 `find()` 메서드

In [ ]:
string1 = 'python is fun!'
print(string1)

# fun 찾기

idx = string1.find('fun')
print(idx)


# 인덱스를 리턴한다
# 찾는 값이 없으면 -1 반환한다.

python is fun!
10

###  문자열 치환 `replace()` 메서드

In [ ]:
string1 = '사과는 맛있다'
print(string1)

x = string1.replace('사과', '딸기')  # 교체되는 값 , 교체할 값
print(x)

# 원본을 바꾸는게 아니라 복사본을 x에 저장한다.

사과는 맛있다
딸기는 맛있다

In [ ]:
# 전화번호에서 하이픈 삭제하기 또는 특수기호 삭제시 많이 사용

phone1 = '010-1234-5678'
print(phone1)

phone2 = phone1.replace('-','')
print(phone2)

010-1234-5678
01012345678

### 문자열 쪼개기 `split()` 메서드

In [ ]:
list1 = phone1.split('-')

print(list1)  # 리스트로 리턴

['010', '1234', '5678']

### 리스트를 문자열로 변환 `join()` 메서드

In [ ]:
# 쪼갠 값을 다시 붙이기

x = ' '.join(list1)  # 중간에 넣을값 , 붙일 문자열
print(x)

010 1234 5678

## 04-2 튜플

> 여러 개의 데이터를 하나의 변수로 담을 수 있는 자료 구조

> 구조는 리스트와 같으나 요소의 추가와 수정이 불가능

* 리스트의 읽기 모드
* 보안이 필요한 경우에 사용

### 튜플 생성 => ( )

In [ ]:
animal = ('토끼', '거북이', '사자', '여우') # () 소괄호 사용하여 튜플 생성

print(animal)

('토끼', '거북이', '사자', '여우')

In [ ]:
numbers  = tuple(range(10)) # tuple 함수를 이용하여 튜플 생성
print(numbers)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

### 요소 추가, 수정 불가능,  오직 추출만 가능

In [ ]:
# 슬라이싱 가능

print(animal[0])
print(animal[1:3])

토끼
('거북이', '사자')

### 튜플 병합 `+`

In [ ]:
merge_tuple = animal + numbers
print(merge_tuple)

('토끼', '거북이', '사자', '여우', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

### 중요 정보 저장 시 사용

In [ ]:
# 괸리자 정보 저장

admin_info = ('admin', '12345', 'master@naver.com')

print('관리자 정보')
print('아이디', admin_info[0])
print('패스워드', admin_info[1])
print('이메일', admin_info[2])

# 수정하지 않는 정보는 튜플에 담아보자

관리자 정보
아이디 admin
패스워드 12345
이메일 master@naver.com

## 04-3 딕셔너리

*  인덱스를 사용하지 않고 key-value 조합으로 데이터를 저장하는 구조

### 딕셔너리 생성

In [ ]:
# {}를 사용하여 딕셔너리 생성

member = {'name': '박유진',
          'age': 24,
          'id':'admin',
          'password':'12345'}

print(member)

{'name': '박유진', 'age': 24, 'id': 'admin', 'password': '12345'}

In [ ]:
# dict() 함수를 사용하여 딕셔너리 생성

score = dict([('국어',80),('수학',100),('영어',90)])
print(score)

{'국어': 80, '수학': 100, '영어': 90}

### 딕셔너리 추출

In [ ]:
print(member['name'])
print(member['id'])
print(member['password'])

박유진
admin
12345

### 딕셔너리 요소 추가

* key 존재하면 값이 수정
* key 존재하지 않으면 key-value 추가

In [ ]:
member['email'] = 'dbsdosdb@gmail.com'

print(member)

{'name': '박유진', 'age': 24, 'id': 'admin', 'password': '12345', 'email': 'dbsdosdb@gmail.com'}

In [ ]:
member['name'] = '유진'

print(member)

{'name': '유진', 'age': 24, 'id': 'admin', 'password': '12345', 'email': 'dbsdosdb@gmail.com'}

### 딕셔너리 요소 삭제 `pop()`메서드

In [ ]:
x = member.pop('email')
print(x)

dbsdosdb@gmail.com

In [ ]:
print(member)

{'name': '유진', 'age': 24, 'id': 'admin', 'password': '12345'}

### 딕셔너리 전체 요소 삭제 `clear()` 메서드

In [ ]:
member.clear()
print(member)

{}

### for문에서 딕셔너리 사용

In [ ]:
# 딕셔너리를 이용하여 영어 단어 퀴즈 프로그램

words = {'꽃':'flower', '나비': 'butterfly',
         '학교': 'school', '자동차':'car',
         '비행기': 'airplane'}

print('영어 단어 맞추기 퀴즈')



for key in words: # 리스트와 다르게 값이 아니라 ,key 값을 kor변수에 담아서 준다.
  print('')
  input_word = input(' "%s" 에 해당되는 영어단어를 입력하세요:' %key)

  if input_word == words[key]:

    print('정답입니다!! ^ㅁ^')

  else:
    print('오답!! -_-')

print('')
print('영어 단어 퀴즈 종료')

영어 단어 맞추기 퀴즈

 "꽃" 에 해당되는 영어단어를 입력하세요:ㅁ
오답!! -_-

 "나비" 에 해당되는 영어단어를 입력하세요:ㅊ
오답!! -_-

 "학교" 에 해당되는 영어단어를 입력하세요:ㅊ
오답!! -_-

 "자동차" 에 해당되는 영어단어를 입력하세요:ㅊ
오답!! -_-

 "비행기" 에 해당되는 영어단어를 입력하세요:ㅊ
오답!! -_-

영어 단어 퀴즈 종료